:root {
  --yellow: #e6c744;
  --black: #000000;
  --white: #ffffff;
  --grey: #c2c8da;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  background-color: var(--white);
}

.container {
  width: 90%;
  max-width: 1720px;
  margin: auto;
}

/* Header */
header {
  padding: 48px 0;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
}
.logo {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 3%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 54px;
}
.nav-list {
  display: flex;
  gap: 65px;
}

.nav-list a {
  font-weight: 500;
  color: #242323;
  font-size: 22px;
}

.sign-up-btn {
  padding: 13px 22px 17px;
  color: #fefefe;
  background-color: var(--black);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -3%;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.sign-up-btn:hover {
  background-color: #fefefe;
  color: var(--black);
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6f5;
  border-radius: 59px;
  padding: 60px 80px;
  gap: 40px;
}

.hero-text h2 {
  font-size: 96px;
  font-weight: 900;
}

.hero-text {
  max-width: 606px;
}

.hero-text p {
  margin: 15px 0;
  color: #191818;
}

.btn {
  background: var(--black);
  color: var(--white);
  padding: 19px 40px 18px 41px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -5%;
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

.hero-img img {
  max-width: 100%;
  height: auto;
}

/* Brands */
.brands {
  background: #EBD96B;
  padding: 20px 0;
}

.brand-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
